<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Maker</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'music_app/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'music_app/bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'music_app/bootstrap/js/bootstrap.min.js' %}"></script>    
</head>